@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

.fsTwo * {
  font-family: "Montserrat";
}

body {
  background-color: #F4F1F2;
}

button {
  cursor: pointer;
}

.shadowcus1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainColor {
  color: #BD2F2C;
}
.grediantBg {
  background: linear-gradient(to right ,#BD2F2C,#BD2F2C);
}

.mainBg {
  background-color: #BD2F2C;
}

.activeTabs {
  background: linear-gradient(to left top, #BD2F2C, #BD2F2C);
  color: #fff;
}

.outletWrapper::-webkit-scrollbar {
  display: none;
}

.tabicons {
  height: 45px !important;
  width: 45px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
}

.gredianBg {
  color: #fff;
  background: linear-gradient(to left top, #BD2F2C, #BD2F2C);
}

.gredianText {
  background: linear-gradient(90deg, #BD2F2C, #BD2F2C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.homeSlider .swiper-wrapper {
  padding: 20px 0;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #BD2F2C;
  border-radius: 4px;
}


/* classname for status  */
.Published {
  background-color: #3ab70025;
  color: #37ad00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
}

.draft {
  background-color: #be302b2a;
  color: #BD2F2C;
  border-radius: 25px;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 20px;
}

.activeEventPageSection {
  background-color: #be302b0c;
  position: relative;
  color: #BD2F2C;
  font-weight: 600;
}
.activeEventPageSection::after {
  height: 100% ;
  width: 5px;
  background-color: #BD2F2C;
  position: absolute;
  top: 0;
  content: "";
  right: 0;
}

.generalCssForInputs {
  outline: none;
  border: 0;
}
